{% extends "template.twig" %}

{% block title %}Detail{% endblock %}

{% block bodyClass %}detail{% endblock %}

{% block content %}
{%if breadcrumb %}

<ul class="breadcrumb">
   {% for link,url in breadcrumb %}
   <li>
   {% if url %}
   <a href="{{ url }}">{{ link }}</a></li>
   {% else %}
   {{ link }}
   {% endif %}
   {% endfor %}
</ul>
{% endif %}
<p class="droite">{{ picturo_download(thumbnail_url) }}</p>
<div class="image-wrapper">
   {% if image_previous_url != base_url ~ "/" %}
   <a class="previous-image" href="{{ image_previous_url }}">❮</a>
   {% endif %}
   {% if image_next_url != base_url ~ "/" %}
   <a class="next-image" href="{{ image_next_url }}">❯</a>
   {% endif %}
   {{ picturo_thumbnail(thumbnail_url, 900, 675) }}
</div>

{% endblock %}
