*{
	margin:0;
	padding:0;
}

body{
    background:url('../img/bg.jpg') no-repeat #1d1d1d;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#rocket{
	width:275px;
	height:375px;
	background:url('../img/rocket.png') no-repeat;
	margin:10px auto 50px;
	position:relative;
}

/*	Two steam classes. */

.steam1,
.steam2{
	position:absolute;
	bottom:78px;
	left:50px;
	width:80px;
	height:80px;
	background:url('../img/steam.png') no-repeat;
	opacity:0.8;
}

/*	.steam2 shows the bottom part (dark version)
	of the background image.
*/

.steam2{
	background-position:left bottom;
}

/* Using the HTML4 hgroup element */
hgroup{
	display:block;
	margin:0 auto;
	width:850px;
	text-align:center;
}

h1{
	color:#76D7FB;
	font-size:30px;
	text-shadow:3px 3px 0 #3D606D;
	white-space:nowrap;
}

h2{
	color:#9FE3FC;
	font-size:18px;
	font-weight:normal;
	padding:25px 0;
}

.header {
   background: #2EAE9B;
   padding: 1.5em 0;
   margin-bottom: 3em;
   color: #afe1da;
   font-family: Helvetica, arial, sans-serif;
}
.header a { color: #afe1da; }
.header h1 a,
.header a:hover { color: #fff; }
.header h1 {
   font-weight: bold;
   text-shadow:3px 3px 0 #3D606D;
   margin: 0;
   font-size:2em;
   float: left;
}
.header .nav {
   float: right;
   list-style: none;
   margin: 0;
   padding: 0;
}
.header .nav li { display: inline; }
.header .nav a {
   font-weight: bold;
   margin-left: 20px;
}

